<h1>修改密码</h1>
<%= form_tag update_password_users_path, :id => :edit_password do %>
  <fieldset class="form-generic">
    <ul>
      <li><label>原密码：</label><%= password_field_tag :original_password, nil, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>新密码：</label><%= password_field_tag :new_password, nil, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>确认新密码：</label><%= password_field_tag :confirmed_password, nil, :class => 'text-field' %></li>
    </ul>
    <div class="operation-generic">
      <%= link_to '修改', '#', :onclick => "submitForm('edit_password')", :class => 'button' %>
    </div>
  </fieldset>
<% end %>