<h1>已上传文档列表</h1>
<table class="list-generic">
  <tr>
    <th>ID</th>
    <th>所属分类</th>
    <th>中文文档标题</th>
    <th>创建时间</th>
  </tr>
  <% if @documents.blank? %>
    <%= raw empty_record_tag %>
  <% else %>
    <% @documents.each_with_index do |document, index| %>
      <tr class="<%= odevity_tag index %>">
        <td><%= link_to document.id, document %></td>
        <td><%= document.category.name %></td>
        <td><%= document.title %></td>
        <td><%= human_datetime_for document.created_at %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate @documents %>